/* 
    Created on : Sep 18, 2016, 8:24:27 PM
    Author     : BickfordC
*/

        .tg { 
            border-collapse: collapse; 
            border-spacing: 0;
            border: none;
            margin: 30px auto; 
        }
        
        .tg_td {
            font-family: verdana, Arial, sans-serif; 
            font-size: 14px;
            padding: 10px 5px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
        }
        
        .tg_pdf_td {
            padding: 10px 5px;
            overflow: hidden; 
        }
        
        .tg_th {
            font-family: verdana, Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            padding: 10px 5px;
            border-style: solid;
            border-width: 0px;
            overflow: hidden;
            word-break: normal;
        }
        
        .tg_pdf_th {
            padding: 10px 5px;
            overflow: hidden;
        }
        
        .tg_title {   
            font-size: 18px;
            font-weight: bold;
            color: blue;
            text-align: center;
        }
               
        .tg_studentHeader {
            font-weight: bold;
            background-color: #efefef;
        }
                
        .tg_underline {
            border-bottom: 1px solid black
        }
                
        .tg_b3sr {
            font-weight: bold; 
            border-top: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
                
        .tg_r3sr {
            font-weight: bold;
            color: red;
            border-top: 1px solid red;
            border-right: 1px solid red;
            border-bottom: 1px solid red;
        }
        
        .tg_b3sl {
            text-align: right;
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-bottom: 1px solid black;
        }
        
        .tg_r3sl {
            text-align: right;
            color: red;
            border-top: 1px solid red;
            border-left: 1px solid red;
            border-bottom: 1px solid red;
        }
          
        .tg_ra {
            text-align: right;
        }
        
        .tg_rab { 
            text-align: right;
            font-weight: bold;
        }
        
        .tg_lab {
            text-align: left;
            font-weight: bold;
        }
        
        .tg_plab {
            text-align: left;
            font-weight: bold;
            padding-left: 80px;
        }
