

* {
  font-family: verdana,sans-serif;
  font-size  :14pt;
}

body {
  width     :100%;
  margin    :20px auto;
}

html {
  background:#fff
}

img {
  border            :1px solid black;
  margin-right      :15px;
  -moz-box-shadow   :2px 2px 2px #888;
  -webkit-box-shadow:2px 2px 2px #888;
  box-shadow        :2px 2px 2px #888;
}

li a, .button {
  text-decoration:none;
}

li a:hover, .button:hover {
  color:maroon;
}
 
.appname {
  text-align :center;
  background :maroon;
  color      :gold;
  font-family:helvetica;
  font-size  :20pt;
  padding    :4px;
}

.fieldname {
  float:left;
  width:120px;
}

.main {
  margin-left:40px;
}

.subhead {
  font-weight:bold;
}

/*.pageMessage {
    text-align: center;
    margin: 100px auto;
    max-width: 900px;
}*/

.pageMessage {
    display: table;
    margin: 100px auto;
}

.taken, .error {
  color:red;
}

.available {
  color:green;
}

.whisper {
  font-style:italic;
  color     :#006600;
}

#logo {
  font-family:Georgia;
  font-weight:bold;
  font-style:italic;
  font-size :97px;
}

.nav {
        width: 100%;
        min-width: 900px;
        height: 37px;
	margin: auto;
	padding: 0px;
	list-style: none;  
        background: linear-gradient(gold, maroon, maroon);
}

.nav li {
	float: left;
        margin: auto;
	width: 300px;
	position: relative;
        background: linear-gradient(gold, maroon, maroon);
}

.nav li a {
	text-decoration: none;
	color: white;
	display: block;
	padding: 7px 8px;
}

.nav li a:hover {
	color: gold;
}

/*=== submenu ===*/

.nav ul {
	display: none;
	position: absolute;
	margin-left: 0px;
	list-style: none;
	padding: 0px;
}

.nav ul li {
	width: 300px;
	float: left;
        background: maroon;
}

.nav ul a {
	display: block;
	height: 15px;
	padding: 7px 8px;
	color: white;
	text-decoration: none;
}

.nav ul li a:hover {
	color: gold;
}

.cancelX {
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #800000;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #800000;
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form button:hover,.form button:active,.form button:focus {
  background: #990000;
}

.form button:disabled {
  background: #f2f2f2;
  color: black;
}

 .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}

.form .message a {
  color: #3185b9; 
  text-decoration: none;
}

.styleButton {
  text-transform: uppercase;
  outline: 0;
  background: #800000;
  width: 100%;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.styleButton:hover, .styleButton:active, .styleButton:focus {
  background: #990000;
}

.buttonRow {
    
}

.tile_div {
    margin-top: 30px;
    margin-left: 35%;
    white-space: nowrap;
}

.tile_div button {
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 300px;
/*    border: none;
    background: #800000;
    color: #FFFFFF;*/
}

.tile_div button.last {
    margin-right: 0;
}

.clear {
    clear: both;
}